In [17]:
import pandas as pd
import numpy as np
from scipy import stats

In [79]:
elixhauser = pd.read_csv("elixhauser_ahrq_no_drg_filter.csv")
elixhauser.head()

,subject_id,hadm_id,icustay_id,gender,age_years,admission_type,admission_type_grp,intime,outtime,icu_los_days,...,coagulopathy,obesity,weight_loss,fluid_electrolyte,blood_loss_anemia,deficiency_anemias,alcohol_abuse,drug_abuse,psychoses,depression
0,87977,100011,214619,M,21,EMERGENCY,non-elective,2177-08-29 04:52:21,2177-09-09 16:56:35,11.5029,...,0,0,0,0,0,0,0,1,0,0
1,9588,100041,271871,M,64,ELECTIVE,elective,2140-12-08 11:05:00,2140-12-09 15:30:00,1.1840,...,0,0,0,0,0,0,0,0,0,0
2,29633,100050,279769,M,70,ELECTIVE,elective,2179-09-20 12:39:22,2179-09-21 14:43:29,1.0862,...,1,0,0,0,0,0,0,0,0,0
3,14121,100058,297937,F,57,EMERGENCY,non-elective,2139-09-08 21:39:10,2139-09-23 14:56:30,14.7204,...,0,0,0,1,0,0,0,0,0,0
4,19717,100071,263159,F,57,EMERGENCY,non-elective,2160-03-27 00:11:24,2160-03-29 01:03:13,2.0360,...,0,0,0,1,0,0,0,0,0,0

In [80]:
elixhauser.columns

Index(['subject_id', 'hadm_id', 'icustay_id', 'gender', 'age_years',
       'admission_type', 'admission_type_grp', 'intime', 'outtime',
       'icu_los_days', 'hosp_los_days', 'hosp_mortality', 'n_distinct_icd9',
       'icd9_codes', 'icd9_code_titles', 'icd9_json',
       'congestive_heart_failure', 'cardiac_arrhythmias', 'valvular_disease',
       'pulmonary_circulation', 'peripheral_vascular', 'hypertension',
       'paralysis', 'other_neurological', 'chronic_pulmonary',
       'diabetes_uncomplicated', 'diabetes_complicated', 'hypothyroidism',
       'renal_failure', 'liver_disease', 'peptic_ulcer', 'aids', 'lymphoma',
       'metastatic_cancer', 'solid_tumor', 'rheumatoid_arthritis',
       'coagulopathy', 'obesity', 'weight_loss', 'fluid_electrolyte',
       'blood_loss_anemia', 'deficiency_anemias', 'alcohol_abuse',
       'drug_abuse', 'psychoses', 'depression'],
      dtype='object')

In [81]:
print("Number of male:", elixhauser[elixhauser['gender']=='M'].shape[0])
print("Percentage of male:", elixhauser[elixhauser['gender']=='M'].shape[0] / elixhauser.shape[0] * 100)

Number of male: 21152
Percentage of male: 57.77972027972028

In [82]:
print("Number of female:", elixhauser[elixhauser['gender']=='F'].shape[0])
print("Percentage of female:", elixhauser[elixhauser['gender']=='F'].shape[0] / elixhauser.shape[0] * 100)

Number of female: 15456
Percentage of female: 42.22027972027972

In [83]:
elixhauser[['n_distinct_icd9','icd9_codes']]

       n_distinct_icd9                                         icd9_codes
0                   14  {2851,30560,48242,8052,80703,82111,8220,82525,...
1                    8          {2449,2749,4019,412,41401,4414,496,V1582}
2                   10  {2875,41401,4241,42731,4280,53081,5990,99791,9...
3                    5                        {2761,3051,34680,430,78659}
4                    4                           {2762,34290,49392,53081}
...                ...                                                ...
36603                1                                              {430}
36604                1                                             {4241}
36605                1                                              {430}
36606                1                                             {7455}
36607                1                                            {41401}

[36608 rows x 2 columns]

## Median Of Morbidity count (IQR)

Notice: From the Definitions of Comorbidities table, they combine Hypertension,uncomplicated (htn) and Hypertension,comlicated(htncx) to Hypertension (combined)

In [ ]:
# elixhauser['ht'] = elixhauser['htn'] + elixhauser['htncx']

In [84]:
elixhauser_index = ['congestive_heart_failure', 'cardiac_arrhythmias', 'valvular_disease',
       'pulmonary_circulation', 'peripheral_vascular', 'hypertension',
       'paralysis', 'other_neurological', 'chronic_pulmonary',
       'diabetes_uncomplicated', 'diabetes_complicated', 'hypothyroidism',
       'renal_failure', 'liver_disease', 'peptic_ulcer', 'aids', 'lymphoma',
       'metastatic_cancer', 'solid_tumor', 'rheumatoid_arthritis',
       'coagulopathy', 'obesity', 'weight_loss', 'fluid_electrolyte',
       'blood_loss_anemia', 'deficiency_anemias', 'alcohol_abuse',
       'drug_abuse', 'psychoses', 'depression']

In [85]:
len(elixhauser_index)

30

In [86]:
elixhauser_count = elixhauser[elixhauser_index].sum(axis=1)
median_count = np.median(elixhauser_count)
print("Median of Morbidity count:", median_count)

Median of Morbidity count: 3.0

## Percent with Multimorbidity

In [87]:
print("Percentage of patients with multipmorbidity:", sum(elixhauser[elixhauser_index].sum(axis=1) >= 2)/elixhauser.shape[0] * 100)

Percentage of patients with multipmorbidity: 76.86298076923077

In [88]:
female_elixhauser = elixhauser[elixhauser['gender']=='F']

In [89]:
print("Percentage of female patients with multimorbidity:", sum(female_elixhauser[elixhauser_index].sum(axis=1) >= 2)/female_elixhauser.shape[0] * 100)

Percentage of female patients with multimorbidity: 79.24430641821945

In [90]:
male_exlixhauser = elixhauser[elixhauser['gender']=='M']
print("Percentage of male patients with multimorbidity:", sum(male_exlixhauser[elixhauser_index].sum(axis=1) >= 2)/male_exlixhauser.shape[0] * 100)

Percentage of male patients with multimorbidity: 75.12291981845688

### AGE GROUP

In [92]:
first_age_group = elixhauser[elixhauser['age_years'] <= 24]
print(sum(first_age_group[elixhauser_index].sum(axis=1) >= 2)/first_age_group.shape[0] * 100)

30.993150684931507

In [93]:
second_age_group = elixhauser[(elixhauser['age_years'] > 24) & (elixhauser['age_years'] <= 44)]
print(sum(second_age_group[elixhauser_index].sum(axis=1) >= 2)/second_age_group.shape[0] * 100)

56.40230394328755

In [94]:
third_age_group = elixhauser[(elixhauser['age_years'] > 44) & (elixhauser['age_years'] <= 64)]
print(sum(third_age_group[elixhauser_index].sum(axis=1) >= 2)/third_age_group.shape[0] * 100)

74.10770194113964

In [95]:
fourth_age_group = elixhauser[(elixhauser['age_years'] > 64) & (elixhauser['age_years'] <= 84)]
print(sum(fourth_age_group[elixhauser_index].sum(axis=1) >= 2)/fourth_age_group.shape[0] * 100)

86.26541248252192

In [96]:
fifth_age_group = elixhauser[elixhauser['age_years'] > 84]
print(sum(fifth_age_group[elixhauser_index].sum(axis=1) >= 2)/fifth_age_group.shape[0] * 100)

90.6043046357616